.search {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.6rem;
  }
  input {
    width: 185px;
  }
  label {
    margin: 0;
  }
}
