@import './abstracts/mixins';

* {
  box-sizing: inherit;
  &::after,
  &::before {
    box-sizing: inherit;
  }
  &:focus {
    outline: none;
  }
}

html {
  font-size: 62.5%; // 1rem : 10px since 10px/16px = 0.625
  @include respond(tab-portrait) {
    font-size: 50%;
  }
}

body {
  margin: 1px;
}
